/* .task-card span{
    width: 100px;
} */

.task-card .check-container {
  display: flex;
  align-items: start;
}

/* Animation line for done task */

.done-animation-line {
  position: absolute;
  left: 0;
  top: 50%;
  height: 3px;
  background: var(--secondary-color-c);
  animation: doneLineGrow 0.5s forwards;
  z-index: 2;
}

.fadeaway {
  animation: fadeaway 0.3s forwards;
}

@keyframes doneLineGrow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes fadeaway {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.check_done {
  visibility: visible;
  /* overflow: hidden; */
  animation: check_done 0.8s forwards;
}

@keyframes check_done {
  from {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  to {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
